@model SiteSerials.Domain.Entities.Serial

@{
    ViewBag.Title = "Админ панель: ";

}

<div>
    <h2>@Model.Serial_title</h2>

    @using (Html.BeginForm("EditSerial", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Serial_title, "Название")
            @Html.EditorFor(m => m.Serial_title)
        </p>
        <p>
            @Html.LabelFor(m => m.SerialDescription, "Описание")
            @Html.EditorFor(m => m.SerialDescription)
        </p>
        <p>
            @Html.LabelFor(m => m.Category, "Категория")
            @Html.EditorFor(m => m.Category)
        </p>
        <p>
            @Html.LabelFor(m => m.Rating, "Рейтинг")
            @Html.EditorFor(m => m.Rating)
        </p>
        <p>
            <div>формат даты: 2016-12-21 00:00:00.0000000</div>
            @Html.LabelFor(m => m.Date, "Дата")
            @Html.EditorFor(m => m.Date  )
        </p>

        <div class="form-group">
            <div style="position:relative;">
                <label>Картинка</label>
                <a class='btn' href='javascript:;'>
                    Выберите файл...
                    <input type="file" name="Image" size="40"
                           style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">Нет картинки</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150"
                     src="@Url.Action("GetImage", "Serial",
                        new { Model.Id })" />
            }
        </div>

        <input type="submit" />
    }
</div>





