@using SiteSerials.WebUI.Models
@using SiteSerials.WebUI.HtmlHelpers
@model SerialsListViewModel

@{
    ViewBag.Title = "Сериалы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@ViewBag.Authenticated</h4>
<h2>Сериалы:</h2>

@foreach (var p in @Model.Serials)
{
    @Html.Partial("SerialSummary", p)
}

@*<table class="table">

@foreach (var item in @Model.Serials) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
        <a href="/Serial/SeasonList/@item.Id">@Html.DisplayFor(modelItem => item.Serial_title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
    </tr>
}

</table>*@

<div class="btn-group pull-right">
    @*@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    new { page = x, category = Model.CurrentCategory }))*@
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>



