@using SiteSerials.WebUI.Models
@using SiteSerials.WebUI.HtmlHelpers
@model SerialsListViewModel

@{
    ViewBag.Title = "Сериалы";
}

<h2>Сериалы:</h2>

<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Serials.  )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>*@



@foreach (var item in @Model.Serials) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Serial_title)*@
        <a href="/Serial/SeasonList/@item.Id">@Html.DisplayFor(modelItem => item.Serial_title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
    </tr>
}

</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>